/BezierAnimationPanel$1.class
/BezierAnimationPanel$BezierColor.class
/BezierAnimationPanel.class
/ColorChooserDemo$1$1.class
/ColorChooserDemo$1.class
/ColorChooserDemo$ColorSwatch.class
/ColorChooserDemo.class
