/JMandelbrot$1.class
/JMandelbrot$2.class
/JMandelbrot$MandelbrotCalculator.class
/JMandelbrot.class
/JPaletteShower.class
/JSpinnerPanel.class
/MandelbrotControl$1.class
/MandelbrotControl$2.class
/MandelbrotControl$3.class
/MandelbrotControl$4.class
/MandelbrotControl$CoordSpinner.class
/MandelbrotControl.class
/Palette.class
/PaletteChooser$1.class
/PaletteChooser.class
/SpinnerDemo$1.class
/SpinnerDemo.class
